// Breakpoints
$tablet-width: 767px;
$desktop-width: 1024px;

// Colors
$color-background: #f6fbfd;

// Fonts
$webfont: 'Nunito', sans-serif;
$webfont-fallback: 'Helvetica Neue', arial, sans-serif;

// Padding
$gutter: 15px;
